/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* font-family: 'Poppins', sans-serif; */

/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #f3f2ef;
}

/* color variables */
:root {
  --primary-color: #0a66c3;
}

/* utility classes ----------------------------------------------------------------*/

/* font styles */
.txt-small {
  font-size: 12px;
}

.txt-medium {
  font-size: 14px;
}

.font-weight {
  font-weight: 600;
}

.color-one {
  color: #00000099;
}

.color-two {
  color: var(--primary-color);
}

.hover-txt-color:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

/* flex properties*/
.flex {
  display: flex;
}

.justify-content-sb {
  justify-content: space-between;
}

.justify-content-c {
  justify-content: center;
}

.align-items-c {
  align-items: center;
}

/* ---------------------------------------------------------------------- */
.icon-color {
  filter: invert(0%) sepia(8%) saturate(7500%) hue-rotate(355deg)
    brightness(103%) contrast(110%);
  opacity: 60%;
}

.hover-bgc-color:hover {
  background-color: #ebebeb;
}

.cursor-pointer {
  cursor: pointer;
}

/* navbar ----------------------------------------------------------- */

nav {
  padding: 0 200px;
  height: 52px;
  background-color: #ffffff;
}

.logo-container {
  gap: 5px;
}

.logo {
  height: 40px;
  filter: invert(23%) sepia(36%) saturate(5239%) hue-rotate(198deg)
    brightness(101%) contrast(92%);
}

.search {
  position: relative;
}

.lable {
  position: absolute;
  top: 5px;
  left: 5px;
}

#search {
  border: none;
  background-color: #eef3f8;
  padding: 8px;
  padding-left: 25px;
  border-radius: 4px;
}

.nav-items-container {
  gap: 20px;
}

.nav-item-container {
  text-align: center;
  gap: 20px;
}

.nav-txt {
  margin-top: -8px;
}

.icon-badge-container {
  position: relative;
}

.icon-badge {
  font-size: 11.5px;
  height: 15px;
  width: 18px;
  background-color: #cc1016;
  color: #ffffff;
  border-radius: 6px;
  position: absolute;
  right: 15px;
  z-index: 1;
}

.nav-profile {
  height: 24px;
  border-radius: 50%;
}

.border-left {
  border-left: 1px solid #0000005a;
}

.padding-left {
  padding-left: 20px;
}

/* body section ----------------------------------------------------------------- */
.body {
  padding: 24px 200px 0;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  gap: 24px;
}

/* sidebar */
.profile-container {
  background-color: #ffffff;
  margin-bottom: 8px;
  border-radius: 8px;
  overflow: hidden;
}

/* sidebar profile container */
.profile {
  text-align: center;
  border-bottom: 1px solid #00000033;
}

.profile-img {
  background: url(./assets/asset\ 10.svg);
  background-size: cover;
  height: 56px;
  position: relative;
  margin-bottom: 43px;
}

.sidebar-img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  position: absolute;
  top: 18px;
}

.profile-title {
  margin-bottom: 16px;
}

/* sidebar text container */
.profile-txt-container {
  padding: 16px 12px;
  border-bottom: 1px solid #00000033;
}

.views {
  margin-bottom: 8px;
}

/* profile premium */
.premium-container {
  padding: 16px 12px;
  border-bottom: 1px solid #00000033;
}

.premium {
  gap: 5px;
}

.premium-icon {
  height: 15px;
}

/* profile items */
.items-container {
  padding: 16px 12px;
  gap: 5px;
}

.item-icon {
  height: 20px;
}

/* second container */
.container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px 12px;
  position: sticky;
  top: 24px;
}

.recent-title {
  margin-bottom: 8px;
}

.recent-container {
  gap: 5px;
}

.recent-txt {
  margin-bottom: 8px;
}

.group-icon {
  height: 20px;
}

.group-title {
  margin-bottom: 8px;
  margin-top: 24px;
}

.see-all {
  margin-left: 25px;
}

.events {
  margin-top: 24px;
  margin-bottom: 10px;
}

.discover {
  text-align: center;
  padding-top: 16px;
  border-top: 1px solid #00000033;
}
